input
{
    border:2px solid #e7e7e7
}

input:focus{
    border:2px solid #36363696
}


input::placeholder
{
    padding: 0px 10px;
    transition: all .5s linear;
    z-index: 99;
    font-size: 12px;
    text-transform: uppercase;

}
input:focus::placeholder{
    transform: translateY(-15px);

}


